	/*----------------Colores-------------*/
	/*              #003865   Azul fuerte */
	/*              #2F8AA5   Azul claro*/


	/*------------------------------------------------------------------------------*/
	/*----------------------------PANELES-------------------------------*/
		
		/*Cambia el color de letra de los paneles y le da un espacio en la parte superior*/
		.panel-primary{
			margin-top: 30px;
			color: #318CA7;
		}

		/*Da un espacio entre los input de los formularios*/
		.input-group{
			margin-bottom: 10px;
		}

		/*Fondo de pantalla en SIGN UP, LOGIN, Contactame*/
		#fondo{
			position:fixed;
			width: 100%;  
		    height: 100%;
		    
		}

		/*Da formato al contenedor del header de LOGIN SIGN-UP y CONTACTAME*/
		.header{
			color: #003865;
			font-size: 50px;
			text-align: center;
			margin-top: 50px;
		}

		p{
			margin-top: 5px;
			font-size: 9px;
		}

		/*Da formato al texto de titulo*/
		#titulo{
			margin-top: 20px;
			font-family: calibri;
			font-weight: bold;
			font-size: 40px;
		}

		/*#title{
			font-size: 90px;
		}*/
		
	
		#pie{
			text-align: center;
			font-size: 12px;
		}

		#boton{
			margin: 0 auto;
			/*font-size: 17px;*/
			font-weight: bold;
			/*width: 200px;*/


		}

/* ------------------LOGIN----------------------------------*/

		#primerinput{
			margin-top: 15px;
		}


		/*#panelLogin{*/
			/*margin: 30px auto;*/
			/*text-align: center;*/
			/*width: 400px;*/
		/*}*/
	/*------------------------------------------------------------------------------*/
	/*----------------------------------LANDING-------------------------------------*/
		
		body{
			background-color: #2F8AA5;
		}

		.imagen-header{
			width: 100%;
			position: relative;
		}
		
		.header-jumbotron{
			vertical-align: middle;
			text-align: center;
			margin-top: -400px;
			font-size: 1.5em;
			color: white;
		}



		h1{
			color: #003865;
			font-size: 40px;
			/*font-weight: bold;*/
		}

		h2{
			font-size: 25px;
		}

		#img-nueva{
			/*margin-top: -47px;*/
			position: absolute;
			width: 100%;
			/*height: 330px;*/
		}

		#landing-titulo{
			font-size: 3em;
			/*vertical-align: middle;*/
		}

		.descripcion-landing{
			/*vertical-align: middle;*/
			color: white;
			font-size: 1.5em;
			text-align: center;
		}

		.header-xs{
			text-align: center;
			height: 300px;
			background-color: orange;
			position: relative;
			font-size: 1em;
		}

		.jumbo-xs{
			/*background-image: url(../img/landing-xs.jpg);*/
			text-align: center;
			background-color: #555555;
			color: white;
			margin-bottom: 70px;
			width: 100%;

		}


		@media (max-width: 1200px) {
		
		  	.header-jumbotron{
				text-align: center;
				font-size: 1.5em;
				color: white;
			}

			#landing-titulo{
				margin-top: 50px;
				font-size: 3em;
			}
	
			.descripcion-landing{
				color: white;
				font-size: 1.5em;
				text-align: center;
			}
		}


		/*Fila que contiene las imagenes y el tipo de rol*/
		#tipos-de-alumnos{
			color: white;
			background-color: #2F8AA5;
			text-align: center;
		}
	

		#panelCasosdeUso{
			background-color: #555555;
		}

		/*Contiene las imagenes y la descripcion del footer*/
		#contenedor-descripcion-landing{
			margin: 0 auto;
			padding-top: 50px;
			background-color: #2F8AA5;
			/*height: 400px;*/
			text-align: center;
			color: white;
		}

		.panel-tipo-Asesor{
			margin-top: -50px;
		}
		
		/*Texto de los contenedores de tipos de asesores*/
		.descripcion-tiposAsesor{
			text-align: center;
			font-size: 18px;
			font-family: calibri;
		}

		/*Images de descricpon de asesor asesorado*/
		.img-asesor{
			width: 100px;
			height: 100px;
			margin: 15px auto;
		}
		
		/*Contiene las imagenes del footer, maestra Responsable e Instituto*/
		.img-footer{
			margin: 0 auto;
			width: 150px;
			height: 150px;
		}

		.logo-itson{
			margin: 15px auto;
		}


	/*-------------------------------------FOOTER-----------------------------------------*/
	/*------------------------------------------------------------------------------------*/

	footer{
		padding-top: 5px;
		width: 100%;
		background-color: #555555;
		color: white;
		height: 190px;
		font-size: 15px;
		text-align: center;
		font-family: 'Helvetica Neue';
	}
		
	/*------------------------------------------------------------------------------
	/*----------------------------------CONTACTANOS---------------------------------*/

		.icono{
			width: 15px;
			height: 15px;
		}

		#footer{
			background-color: #003865;
			position: relative;
		}

		.infoContacto{
			font-size: 15px;
			font-weight: bold;
			color: black;
		}

		#panelContacto{
			width: 450px;
			margin: 30px auto;
			text-align: center;
		}

		.footer-container{
			position: relative;
			height: 100px;
			background-color: yellow;
		}

		/*   NAV VERTICAL


<ul class="nav nav-pills nav-stacked">
  ...
</ul>


		*/

		/*-------------------------------------INICIAR COMO---------------------------------------*/
		/*---------------------------------------------------------------------------------------*/

		/*Color del background*/
		#body-inciarComo{
			background-color: #f7f7f7;
		}

		/*Titulo de pagina Iniciar como*/
		#titulo-IniciarComo{
			margin-top: 40px;
			text-align: center;
			font-size: 45px;
			color: #003865;

		}

		/*Opciones de usuario*/
		.option-iniciarComo{
			margin-top: 15px;
			font-size: 22px;
			color: #2F8AA5;
			text-align: center;
		}


		.img-asesor-IniciarComo{
			margin: 100px auto 0;
			/*margin-top: 100px;*/

			width: 150px;
			height: 150px;
		}
		
		.boton-IniciarComo{
			margin-top: 30px;
			height: 45px;
			font-family: calibri, arial;
			font-size: 23px;
			font-weight: bold;
			background-color: red;
		}


		/*Barra de navegacion*/
		      section
		{
		  background:yellow;
		}
		.banner
		{
		  background:red;
		  min-height:200px;
		}
		.banner .row
		{
		  text-align:center;
		  margin-top:50px;
		}
		.banner h1
		{
		  color:white;
		}



		/***********************************************************************
		*  OPAQUE NAVBAR SECTION
		***********************************************************************/
		.opaque-navbar {
		    background-color: rgba(0,0,0,0.5);
		  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
		    height: 50px;
		    border-bottom: 0px;
		    transition: background-color .5s ease 0s;
		}

		.opaque-navbar.opaque {
		    background-color: #003865;
		    height: 50px;
		    transition: background-color .5s ease 0s;
		}

		ul.dropdown-menu {
		    background-color: #003865;
		}


		@media (max-width: 992px) {
		  body
		  {
		  	/*background-color: gray;*/
		    /*background:orange;*/
		  }
		  .opaque-navbar {
		    background-color: #003865;
		    height: 50px;
		    transition: background-color .5s ease 0s;
		}

		}

		.barNav-contenido{
			font-size: 15px;
		}

		.navbar-brand{
			font-size: 25px;
		}

		#background-nav{
			height: 50px;
			background: #003865; 
		}