/*-------------------------------*/
/*          HORARIO             */
/*-------------------------------*/
.horario-contenedor th, td{
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 0;
    margin: 0;
}

.horario-contenedor hora-item{

}



/*----------------------------------------- OLD STYLES*/
#horario th, td {
	border-bottom: 1px solid #ddd;
	text-align: center;
	padding: 0;
	margin: 0;
}

#horario th, .item-hora{
	padding: 10px 15px;
}

#horario table th {
	background-color: #4CAF50;
	color: #fff;
}


/*------HORAS-----*/
#horario tr td .item-hora, .hora-horario, .hora-asesoria{
	text-decoration: none;
	display: block;
	background: #ECE7E7;
	color: #000;
	cursor: pointer;
}


#horario tr td .hora-selected{
	background: peru;
	color: #fff;
}


#horario tr td .hora-blocked{
	background: #212121;
	color: #fff;
}


/*------MATERIAS-----*/
#materias .item-materia, .materia-horario{
	text-decoration: none;
	display: inline-block;
	background: #ECE7E7;
	padding: 12px 20px;
	margin-bottom: 10px;
	color: #000;
}

#materias .item-materia:hover, .materia-horario:hover{
	background: #a3deff;
}


#materias .materia-selected{
	background: peru;
	color: #fff;
}

#asesores{
	padding: 20px 0;
}

#asesores .item-asesor{
	text-decoration: none;
	display: inline-block;
	background: #AFDBFD;
	padding: 12px 20px;
	color: #000;
	margin-right: 5px;
}

#asesores .asesor-selected{
	background: peru;
	color: #fff;
}

.login-container{
	margin-top: 20px;
}

.login-message{
	padding: 10px;
}