#horario th, td {
	border-bottom: 1px solid #ddd;
	text-align: center;
	padding: 0;
	margin: 0;
}

#horario th, .item-hora{
	padding: 10px 15px;
}

#horario table th {
	background-color: #4CAF50;
	color: #fff;
}


#horario tr td .item-hora{
	text-decoration: none;
	display: block;
	background: #ECE7E7;
	color: #000;
}


#horario tr td .selected{
	background: peru;
	color: #fff;
}